<div style="text-align:center;"><b>Add media file</b></div>
<form enctype="multipart/form-data" action="/media_library/add" method="post">
    <div>
        Media type: {{ media_form.media_type }} {{ media_form.media_type.errors }}
        <ul>
            <li>
                <input type="radio" name="source" value="file" id="file"/> <label for="file">Upload a file:</label>
                {{ media_form.file }} {{ media_form.file.errors }}
            </li>
            <li><input type="radio" name="source" value="link" id="link"/> <label for="source">URL:</label>
                {{ media_form.url }} {{ media_form.url.errors }}
            </li>
        </ul>
    </div>

    <!-- TODO: on file field click activate file radio button -->
    <input type="submit" value="Save" />
    {% csrf_token %}
</form>
