<div>List of media files:</div>
<ul id="media_list">
    {% for file in files %}
        <li media_id="{{ file.name }}" media_url="{{ file.url }}" media_type="{{ file.media_type }}">
            {% ifequal file.media_type "image" %}
            <img src="{{ file.url }}" width="50" style="vertical-align:middle;"/>
            {% endifequal %}

            {% ifequal file.media_type "video" %}
            <img src="{{ STATIC_URL }}img/video.jpeg" width="50" style="vertical-align:middle;"/>
            {% endifequal %}

            <a href="{{ file.url }}">{{ file.name }}</a>
        </li>
    {% endfor %}
</ul>
